@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@400;500;700&display=swap');
body {
  height: 100%;
  margin: 0; 
  font-family: var(--font-family-body);
  color: var(--color-normal-text);
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}

:root {
  --gap: 30px;
  --font-family-body: "Roboto", sans-serif;
  --font-family-title: "DM Serif Display", serif;
  --color-normal-text: #000;
  --font-body-weight: 400;
  --background-white: #fff;
  --background-light-orange: #fff1e1;
  --background-red: #d93805;
  --backgroud-pale-brown: #efcfaa;
  --color-white: #fff;
  --color-title: #795b39;
  --color-border-brown: #dacbb6;
  --color-title-orange: #ffe0b4;
  --color-pale-oragne: #d4a873;
  --color-pale-brown-2: #a88a68;
  --color-brown: #5b3909;
  --color-pale-brown: #b1a89e;
  --color-light-yellow: #928475;
  --color-border-chex: #f6e1c7;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  width: 100%;
  display: block;
}

/* heading */
.heading-family {
  font-family: var(--font-family-title);
}
.section-heading-sm {
  font-size: 30px;
  font-family: var(--font-family-title);
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}
.heading-40 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  font-family: var(--font-family-title);
}
.heading-30 {
  font-size: 30px;
  font-weight: 400;
  font-family: var(--font-family-title);
  line-height: 1.3;
}

.heading-24 {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-family-title);
  line-height: 1.3;
}
.heading-20 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}
.heading-15 {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--color-title);
}
.heading-color-brown {
  color: var(--color-brown);
}
.heading-color-orange {
  color: var(--color-title-orange);
}
.heading-color-white {
  color: var(--color-white);
}

/* border */
.button {
  border: 1px solid var(--color-brown);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.button-cart-color {
  background-color: var(--color-brown);
  border-radius: 5px;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  border: none;
}

/* === product page === */

/* header */
.header {
  background-color: var(--background-white);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}
.header {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header-main {
  flex-wrap: wrap;
}
.logo-header__img {
  height: 100px;
  object-fit: cover;
}
.logo-header {
  order: 1;
}
.toogle-header {
  order: 2;
}
.nav-main {
  order: 3;
}
.nav-main__list {
  margin: 0;
  padding: 0;
  float: left;
}
.nav-main__item {
  padding: 15px 0;
}
.item-main__link {
  text-decoration: none;
  color: var(--color-brown);
}
.btn-toogle__header {
  border: none;
  background: none;
}
.icon-toogle__header {
  font-size: 25px;
}
.nav-main {
}
/* main */
/* introduction products */
.section-product__detail {
  background-color: var(--background-light-orange);
}
.product-deatil__item {
  gap: 40px;
}
.card-title__detail {
  padding-bottom: 10px;
}
.card-desc__detail {
}
.select-checkbox__detail{
  margin-top: 15px;
  gap: 40px;
}
.lable-radio__detail{
  position: relative;
  cursor: pointer;
  align-items: center;
}
.lable-radio__detail input[type="radio"]{
  display: none;
  
}
.lable-radio__detail span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid var(--color-border-chex);
    background-color: var(--background-white);
    left: 0;
    top: 7px;
    display: block;
}
.lable-radio__detail span::after{
  content: "";
    height: 15px;
    width: 15px;
 
    background-color: var(--color-brown);
    display: block;
    position: absolute;
    left: 0%;
    top: 48%;
    transform: translate(18%, -50%) scale(0);
    border-radius: 50%;
}
.lable-radio__detail input[type="radio"]:checked ~ span::after{
  transform: translate(18%, -50%) scale(1);

}
.span-radio__detail{
  margin-right: 12px;
}
.card-title_sub {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.7;
  color: var(--color-title);
  margin-top: 30px;
}
.item-review__detail {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.form-detail {
  gap: 10px;
  margin-top: 50px;
}
.btn__dec,
.btn__inc {
  width: 40px;
  border: none;
  background: none;
  font-size: 24px;
}
.number-change__inp {
  border: 1px solid #ececec;
  background-color: var(--background-white);
  padding: 16px 18px;
}
.inp-number__item {
  border: none;
  outline: none;
  width: 40px;
  text-align: center;
}
.btn-decrement,
.btn-increment {
  border: none;
  background-color: var(--background-white);
}
.btn-add__detail {
  padding: 19px 54px;
  flex: 1;
}

.introduction-wrap {
  background: url(../image/bacgroundImage/Rectangle\ 39.png) top center / cover
    no-repeat;
}
.heading-introduction {
  color: var(--color-brown);
}
.card-item {
  background-color: var(--background-white);
  gap: 30px;
  padding: 50px 30px;
  border-top: 4px solid #5b3909;
}

.card-elip__item {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--background-light-orange);
}

.card-body {
  text-align: center;
}
.card-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-title);
  line-height: 1.7;
  margin-bottom: 15px;
}
.card-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--color-title);
}

/* section reviews */
.reviews-wrap {
  background: url(../image/bacgroundImage/Rectangle\ 20.png) top center / cover
    no-repeat;
}
.heading-reviews {
  color: var(--color-title-orange);
}

.card-review__item {
}
.card-body__text {
  background-color: var(--background-light-orange);
  padding: 25px 30px;
}
.card-text__item {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: var(--color-light-yellow);
}
.card-list__star {
  margin: 20px 0;
}
.nav-list__star {
  padding: 0;
  margin-top: 20px;
}
.list-start__item {
  margin-right: 5px;
}
.start-item__img {
  width: 20px;
  height: 20px;
}
.card-reviews__author {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-title);
  line-height: 1.7;
}

/* section colection */
.colection-wrap {
  background-color: var(--background-light-orange);
}
.colection-item {
}
.card-body__colection {
  background-color: var(--background-white);
  padding: 30px;
}
.headingh3-card__colection {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--color-pale-oragne);
  font-family: var(--font-family-title);
  margin-bottom: 20px;
}
.heading2-card__colection {
  font-size: 30px;
  font-weight: 400;
  font-family: var(--font-family-title);
  line-height: 1.3;
  margin-bottom: 40px;
}
.card-button__colection {
  padding: 19px 52px;
}

/* related product */
.related-products__wrap {
  background: url(../image/bacgroundImage/Rectangle\ 44.png) top center / cover
    no-repeat;
}
.heading-related {
  color: var(--color-title-orange);
}
.card-related__product {
  background-color: var(--color-white);
  padding: 30px 72px;
  gap: 40px;
}
.card-media__product {
  padding-top: 22px;
}
.card-product__title {
  margin-bottom: 5px;
}
.card-title__link {
  text-decoration: none;
  color: var(--color-brown);
}

.card-price__update {
  margin-left: 10px;
  text-decoration: line-through;
  color: var(--color-pale-brown);
}
.btn-add__cart {
  padding: 16px 36px;
  background-color: var(--background-white);
  margin-top: 20px;
}

/* footer */

/* === end product page === */

/* === colection page ===*/
.banner-colection {
  background: url(../image/bacgroundImage/header-bg.png) top center / cover
    no-repeat;
}

.header-wrap {
  padding: 90px 0;
  color: var(--color-white);
}
.header-wrap__title {
  font-size: 30px;
  font-family: var(--font-family-title);
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 20px;
}
.header-text__sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.product-list__wrap {
  background-color: var(--background-light-orange);
}

.card-related__product {
  position: relative;
}
.card-product__saller {
  position: absolute;
  top: 20px;
  right: 20px;
}
.card-product__saller {
  background-color: var(--background-red);
  padding: 2px 17px;
}
.card-saller__item {
  color: var(--color-white);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  font-family: var(--font-family-title);
}

.service-wrap {
  background: url(../image/bacgroundImage/Rectangle\ 48.png) top center / cover
    no-repeat;
}
.card-service {
  gap: 15px;
  padding: 80px 70px;
  color: var(--color-title-orange);
}
.card-service__media {
  width: 50px;
  height: 50px;
  margin-top: 25px;
}

.card-service__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-title-orange);
}

.colection-news {
  background: url(../image/bacgroundImage/Rectangle\ 53.png) top center / cover
    no-repeat;
}
.card-new__media {
  position: relative;
}
.card-body__new {
  position: absolute;
}
.card-new__title {
  color: var(--color-white);
}
.card-new__btn {
  background: none;
  border: none;
}
.card-btn__add {
  width: 42px;
  height: 42px;
}

/* === end === */

/* === Blog page ===  */
.banner-blog {
  background: url(../image/bacgroundImage/Rectangle\ 45.png) top center / cover
    no-repeat;
  padding: 140px 15px;
  text-align: center;
}
.item-icon__img {
  width: 42px;
  height: 42px;
}
.nav-item__icon {
  padding: 0px 5px;
}

.blog-wrap {
  background-color: var(--background-light-orange);
  padding: 40px 0;
}
.content-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--color-brown);
  text-align: left;
}

.nav-blog__sell {
  background-color: var(--backgroud-pale-brown);
  padding: 30px;
}

.nav-sell__list {
  padding-left: 15px;
  margin-top: 30px;
}
.card-content__text {
  margin-top: 30px;
}
.card-blog__img {
  margin: 0;
}
.img-item__desc {
  text-align: center;
  color: var(--color-pale-brown-2);
  margin-top: 20px;
}
.blog-raleted__heading {
  text-align: left;
}
.blog-raleted__list {
  gap: 10px 0;
}
.blog-raleted__product {
  margin-top: 60px;
  padding: 40px 0;
  border-top: 1px solid var(--color-border-brown);
  border-bottom: 1px solid var(--color-border-brown);
}
.card-blog__video {
  margin-top: 40px;
}
.blog-item__video {
}

.footer-blog {
  padding: 40px 0;
  background: url(../image/bacgroundImage/Rectangle\ 30.png) top center / cover
    no-repeat;
}
.footer-content {
  background-color: var(--background-light-orange);
  padding: 40px 20px;
}
.card-footer-content {
  padding: 0px 20px;
  text-align: center;
}

.footer-heading {
  margin-bottom: 10px;
}
.footer-form {
  margin-top: 30px;
}
.form-input__text {
  padding: 14px 20px;
  border: 1px solid var(--color-brown);
  outline: none;
}
.form-btn__submit {
  border: 1px solid var(--color-brown);
  background: var(--background-white);
  color: var(--color-title);
}
/* === end === */

/* responsive */

@media (min-width: 576px) {
  .header-main {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .nav-main__list {
    float: right;
  }
  .nav-main {
    display: block;
  }
  .nav-main__list {
    display: flex;
  }
  .nav-main__item {
    padding-left: 50px;
  }
}
@media (min-width: 768px) {
  /* === product page === */
  .product-deatil__item {
    grid-template-columns: 1fr 1fr;
    gap: 132px;
  }
  .product-list__wrap {
    padding-top: 90px;
  }
  .card-title__detail {
    font-size: 50px;
  }
  .card-media__detail {
    gap: 10px;
    grid-template-columns: 100px 1fr;
  }
  .media-item__img {
    height: 139px;
  }
  .media-main__item {
    object-fit: cover;
    max-width: 454px;
    height: 586px;
  }
  .card-media__sub {
    flex-direction: column;

    gap: 10px;
  }
  .card-body__detail {
    justify-content: center;
  }
  /* section colection */
  .headingh3-card__colection{
    font-size: 20px;
  }
  .colection-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card-body__colection {

    align-items: baseline;
    flex-direction: column;
    justify-content: center;
    padding-left: 86px;
      /* padding: 132px 126px 132px 85px; */
  }

  /* === end product page === */
  /* === blog page === */
  .banner-blog__title {
    font-size: 60px;
  }
  .card-new__img {
    height: 100%;
    object-fit: cover;
  }
  .card-new__media {
    height: 100%;
  }
}
@media (min-width: 992px) {
  /* === product page === */
  /* section reviews */
  .card-media {
    width: 100%;
  }
  .card-media__image {
    height: 100%;
  }
  /* related product */
  .related-product__list {
    --gap: 10px;
  }
  .card-related__product {
    padding: 30px 43px;
  }

  /* === end product page === */

  /* === colection page ===*/
  .header-wrap {
    padding: 230px 0;
  }
  .related-product__list {
    --gap: 10px;
    row-gap: 10px !important;
  }
  /* === end ==== */
  /* === blog page === */
  .blog-wrap {
    padding: 70px 0;
  }

  .header-blog__content {
  }
  .blog-raleted__product {
    padding: 60px 0;
  }
  .footer-content {
    max-width: 767px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  /* === product page === */
  /* introduction product */
  .product-intro__list {
    gap: 0;
  }
  .product-intro__list {
    margin-top: 60px;
  }
  /* === end product page === */
}
